.friendCard{
    align-self: center;
    display: flex;
    justify-content: space-around;
    background-color: gold;
    border-radius: 1.5em;
    height: 6em;
    width: 20em;
    padding: 2em 0.5em;
    color: black;
    font-style: oblique;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5em 0.5em;
    margin: 2em 0 8em 0;
}


.searchSection{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2em;
    padding-top: 3em;
    align-items: center;
    justify-content: center;
}

.backButton{
    background-color: white;
    margin: 1em;
    border-radius: 25px;
    color: black;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    border: solid black 2px;
}

.friendAdd{
    width: 30em;
}

.searchBar{
    width: 100%;
    height: 3em;
    background-color: white;
    font-size: larger;
    color: black;
    border: none;
}

.userData{
    background-color: white;
    width: 100%;
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    color: black;
    border: none;
    position: relative;
    z-index: 2;
}

.userData div{
    padding: 1em;
    border: solid rgba(0, 0, 0, 0.2) 0.2px;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.userData div:hover{
    background-color: rgb(236, 236, 236);
    cursor: pointer;
    
}


.userImage{
    width: 10%;
    height: auto;
    margin-right: 2em;
}

.userID{
    color: rgb(144, 144, 144);
    margin-left: 5px;
}

.userFound{
    text-align: center;
    width: 28%;
    top: 25%;
    padding: 1em;
}

@media (max-width: 480px) {
    .friendAdd{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .searchBar{
        width: auto;
    }
    
    .userData{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: min-content;
        height: min-content;
    }
    .userData div{
        width: 18.4em;
        margin: 0;
        padding: 1em 0;
        /* background-color: green; */
    }

    .userFound{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}