#nav_content{
    background-color: #650e79;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6em;
    border-bottom: solid 10px #ffda59;
  }
  
  #nav_content img{
    position: absolute;
    left: 0;
    width: auto;
    height: 5em;
    margin-left: 2em;
  }

  #user_bar{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  #user_bar li{
    display: inline-flex;
    margin-right: 2em;
    font-size: larger;
    padding: 5px;  
  }
  
  
  #user_bar li:hover{
    cursor: pointer;
  }