.title, .game span{
  font-weight: bold;
  background-image: linear-gradient(
    to top,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color:transparent;
  -webkit-background-clip:text;
  margin: 1%;
}

.nav_content{
    background-color: #7b0d1e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-bottom: solid 10px #EEC170;
  }

  .nav_content img{
    position: absolute;
    left: 0;
    width: auto;
    height: 9%;
    margin-left: 2%;
  }

  @media (max-width: 480px) {
    .nav_content .logo, .nav_content .title {
      display: none;
    }

    .nav_content{
      height: 6em;
    }

    .user_bar .button{
      position: static;
      padding: 0;
    }
  }

  .user_bar{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .user_bar li{
    display: inline-flex;
    margin-right: 2em;
    font-size: larger;
    padding: 5px;  
  }
  
  
  .user_bar li:hover{
    cursor: pointer;
  }
  
#main_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #232c33;
    background-image: url("../assets/background.png");
    height: max-content;
    width: 100%;
    border-bottom: solid 20px #ffda59;
}  

#main_page .button{
    margin: 4% 0;
}

#main_page img{
  margin-top: 5%;
  width: 32%;
  height: 32%;
}

#main_page img:hover{
  cursor: pointer;
}

#games_preview{
    background-color: #9f2042;
    background-image: url("../assets/background.png");
    background-repeat: repeat;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


#game_selector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2em;
}
  
#game_list li{
    display: inline-flex;
    margin: 1em 3em;
    padding: 0;
}


.game{
  text-align: center;
  font-size: xx-large;
  padding: 10px;
  border-radius: 20px;
}

.game img{ 
  border-radius: 25px;
  height: 10em;
  width: 10em;
}

@media (max-width: 480px) {

  #game_list{
    padding: 0;
  }

  #game_list li{
    margin: 5%;
  }

  .game img{
    height: 5em;
    width: 5em;
  }

  #games_preview .title{
    font-size: 200%;
  }
  
}


.game:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  outline: goldenrod solid 4px;
}

