

.editButton{
    text-align: center;
}

.profilePage{
    display: flex;
    flex-direction: column;
    background-color: #232c33;
}

.profilePage h2{
    color: white;
    font-weight: bold;
    align-self: center;
}

.profilePage button{
    align-self: center;
    margin-bottom: 1em;
}

.userCardContainer{
    align-self: center;
    width: 28%;
}


.personalData{
    border-top: gold solid 0.2em;
    width: 100%;
    align-content: center;
    text-align: center;
    background-color: #562d79;
    background-image: url("../assets/background.png");
    margin: 0;
}

.personalInfo{
    text-align: left;
    color: black;
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 2em 25em;
    align-self: center;
}

.noFriends{
    text-align: center;
    padding-top: 1em;
    color: white;
}

.friends{
    display: grid;
    justify-content: space-between;
    padding: 2%;
    grid-template-columns: 33% 33% 33%;
}

.friendSpace{
    text-align: center;
    background-color: #9f2042;
    padding-bottom: 2em;
}

.friendsTittle{
    background-color: #eec170;
    text-align: center;
    height: 4em;
}

.friendCard{
    align-self: center;
    display: flex;
    justify-content: space-around;
    background-color: gold;
    border-radius: 1.5em;
    height: 6em;
    width: 20em;
    padding: 2em 0.5em;
    color: black;
    font-style: oblique;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5em 0.5em;
    margin: 2em 0 8em 0;
}

.friendPicture{
    height: 6em;
    width: 6em;
    background-color: white;
    border-radius: 0.5em;
    padding: 2px;
}

.friendInfo{
    width: 12em;
    font-size: 1.5em;
    display: flex;
    margin: 0.1em 0;
    text-align: center;
}

.friendsGrid{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 10%;
    margin: 10%;
}

.requests{
    display: flex;
    justify-content: space-around;
}

.requests h3{
    color: #eec170;
}

.sentRequests{
 width: 50%;
}

.incomingRequests{
 width: 50%;
}

.requestData{
    width: 80%;
    height: 3em;
    margin: 1em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 22px;
    color: black;
    vertical-align: middle;
}

.confirm{
    border: transparent;
    background-color: #bfff00;
    height: max-content;
    margin-left: 1em;
    font-size: small;
    font-weight: bold;
}

.confirm:hover{
    color: black;
    background-color: rgba(72, 222, 117, 0.866);
}

.deny{
    border: transparent;
    background-color: #ffa600;;
    height: max-content;
    margin-left: 1em;
    font-size: small;
    font-weight: bold;
}

.deny:hover{
    color: black;
    background-color: rgba(222, 72, 72, 0.866);
}