/* body{
    background-image: url('../img/slot/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

h2{
    color: #cfb94bff;
} */

.slotGame{
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    background-color: #9f2042;
}

#reels{
    width: 60%;
    align-items: center;
    margin-top: 6%;
}

#spinSlot{
    background-image: url('../img/slot/spinButton.png');
    height: 220px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#currentChips{
    color: white;
    font-size: 35px;


    padding-top: 63px;
}

#spin{
    width: 172px;
    height: 172px;

    
}

#prizeBank{
    width: 36%;
    background-color: #232c33;
    background-image: url("../assets/background.png");
    border: solid 5px #ffdb59ff;
    padding: 5px;
    text-align: center;
}

#prizeSign{
    height: 25px;
}

#prizeList{
    display: grid;
    grid-template-columns: 45% 45%;
    color: white;
    text-align: left;
}

.prize{
    display: flex;
    font-size: 25px;
    background-repeat: no-repeat;
}

.prizeFruit{
    width: 25px;
    height: 25px;
}

#fruit1{
    width: 200px;
    height: 200px;
    border: solid 3px gold;
    margin: 10px;
    padding: 5px;
}

#fruit2{
    width: 200px;
    height: 200px;
    border: solid 3px gold;
    margin: 10px;
    padding: 5px;
}

#fruit3{
    width: 200px;
    height: 200px;
    border: solid 3px gold;
    margin: 10px;
    padding: 5px;
}

#slotReels{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0px;
}