/* body{
    background-image: url('../img/slot/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0px;
}

h2{
    color: #cfb94bff;
} */

.slotGame{
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    background-color: #9f2042;
    background-image: url("../assets/background.png");
}

#reels{
    width: 60%;
    align-items: center;
    margin-top: 6%;
}

#spinSlot{
    height: 220px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#currentChips{
    color: white;
    font-size: 35px;


    padding-top: 63px;
}

#spin{
    width: 172px;
    height: 172px;

    
}

#prizeBank{
    width: 36%;
    background-color: #232c33;
    background-image: url("../assets/background.png");
    border: solid 5px #ffdb59ff;
    padding: 5px;
    text-align: center;
}

#prizeSign{
    height: 25px;
}

#prizeList{
    display: grid;
    grid-template-columns: 45% 45%;
    color: white;
    text-align: left;
}

.prize{
    display: inline-flex;
    font-size: 25px;
    align-items: center;
}

.prize img{
    width: 50px;
    height: 50px;
}

.spinButton{
    font-weight: bold;
    border-radius: 50%;
    padding: 2em 1.5em;
    box-shadow: 3em;
    font-size: x-large;
    background-color: #ffda59;
    border: 1px solid #ffda59;
    color: black;
}

.spinButton:hover{
    font-weight: bold;
  background-color: #0f0f0f;
  border: 1px solid #0f0f0f;
  color: gold;
}

.spinButton:disabled{
    font-weight: bold;
  background-color: #0f0f0f;
  border: 1px solid #0f0f0f;
  color: gold;
}

.noChips{
    color: white;
    font-weight: bold;
}

.prizeFruit{
    width: 25px;
    height: 25px;
}

.fruitReel{
    width: 200px;
    height: 200px;
    border: solid 5px gold;
    margin: 8px;
    padding: 5px;
    background-color: white;
}

#slotReels{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0px;
}