
.userCard{
    align-self: center;
    display: inline-flex;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    background-color: gold;
    border-radius: 1.5em;
    height: auto;
    width: 100%;
    min-width: 20%;
    padding: 2em 0.5em;
    color: black;
    font-style: oblique;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5em 0.5em;
    margin: 2em 0 4em 0;
}

.userPicture{
    width: 40%;
    height: 40%;
}

.profilePicture{
    height: 70%;
    width: 70%;
    background-color: white;
    border-radius: 0.5em;
}

.userInfo{
    text-align: left;
}

.userInfo p{
    font-size: x-large;
    
}