
.userCard{
    align-self: center;
    display: inline-flex;
    justify-content: baseline;
    align-items: center;
    text-align: center;
    background-color: gold;
    border-radius: 1.5em;
    height: auto;
    width: 100%;
    min-width: 20%;
    padding: 2em 0.5em;
    color: black;
    font-style: oblique;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.5) 0.5em 0.5em;
    margin: 2em 0 4em 0;
}

.userPicture{
    width: 40%;
    height: 40%;
}

.profilePicture{
    height: 70%;
    width: 70%;
    background-color: white;
    border-radius: 0.5em;
}

.userInfo{
    text-align: left;
}

.userInfo p{
    font-size: x-large;
    margin: 0.5em;
}

.areFriends{
    color: rgba(2, 131, 2, 0.866);    
}

.friendRequest{
    margin: 2px;
    border: solid 2px green;
    background-color: #bfff00;
}

.friendRequest:hover{
    border: 2px solid green;
    color: black;
    background-color: rgba(72, 222, 117, 0.866);
}


.friendRemove{
    margin: 2px;
    border: solid 2px red;
    background-color: #ffa600;
}

.friendRemove:hover{
    border: solid 2px red;
    color: black;
    background-color: rgba(222, 72, 72, 0.866);
}

@media (max-width: 480px) {
    .userCard{
        width: 70%;
        margin:1em;
    }
    .userInfo p {
        font-size: small;
    }

    .friendRemove, .friendRequest{
        width: 100%;
        height: auto;
        font-size: small;
    }
    .profilePicture{
        width: 5em;
        height: auto;
    }
}