
#main_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #562d79;
    height: 60em;
    width: 100%;
    border-bottom: solid 20px #ffda59;
}  

#main_page a{
    margin-top: 1.5em;
}
