
.button {
    border-radius: 20px;
    font-size: x-large;
    font-weight: bold;
    padding: 2px 7px;
    background-color: #ffda59;
    width: max-content;
    border: 1px solid #ffda59;
    color: black;
}

.button:hover{
  font-weight: bold;
  background-color: #0f0f0f;
  border: 1px solid #0f0f0f;
  color: gold;
}  
  

